.header-container {
  width: auto;
  display: auto;
}

.tab-items {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: end;
  width: 94.5% !important;
  overflow-x: auto !important;
  background-color: blanchedalmond;
}

.tab-item1 {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
}
.p-tabmenu .p-menuitem-text {
  margin-right: 10px; /* Adjust the spacing as needed */
}
.p-responsive {
  justify-content: space-between;
  border: 1cm;
  background-color: azure;
  font-size: medium;
  display:flex;
}

.tab-item2 {
  justify-content: end;
  display:flex;
}

.tab-item3 {
  margin-left: 20px;
  background-color:antiquewhite;
}
.settings-button{
  font-size: medium;
  background-color: blanchedalmond;
  border: none;
}
.settings-menu{
  display: flex;
  padding: 1mm;
  margin: 1mm;
  border: solid black;
  background-color: white;
}

.p-datatable-thead > tr > th {
  text-align: center !important;
  border: 1px solid #eee7e7 !important;
  background-color: #fffdfd !important;
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.chart-container {
  overflow-x: scroll;
}

.p-chart {
  padding-left: 4%;
  padding-right: 4%;
  max-height: 300px;
  padding-bottom: 1em;
  overflow-x: scroll;
  overflow-y: none;
}

.p-datatable-tbody > tr > td {
  border: 1px solid #eee7e7 !important;
  font-size: 15px;
  text-align: center !important;
  color: black;
}
.p-datatable-tbody > tr > td:first-child {
  border-left: none !important;
}
.p-datatable-tbody > tr > td:last-child {
  border-right: none !important;
  text-align: center;
}
.p-datatable {
  margin-left: 4%;
  margin-right: 4%;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-left: 2%;
  padding-right: 2%;
}

.dialog-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1cm;
  background-color:antiquewhite;
}

.dialog-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}